---
import TechnicalStackComponent from "./TechnicalStackComponent.astro"
import { stack } from "../content/db/technicalStack"
import type { TechnicalStack } from "../interfaces/interface"
---
<div class="max-w-5xl w-full mx-auto">
  <div
    class="bg-white bg-opacity-10 backdrop-blur-lg rounded-3xl shadow-2xl overflow-hidden border border-white border-opacity-20 p-8 lg:p-12"
  >
    <!-- Título -->
    <h2 class="text-4xl lg:text-5xl font-bold text-black mb-8 text-center">
      Sobre Mí
    </h2>

    <!-- Introducción -->
    <div class="text-lg text-gray-600 leading-relaxed space-y-6 mb-10">
      <p>
        Soy <span class="text-cyan-400 font-semibold">Saul Torres</span>,
        ingeniero en sistemas hondureño, con pasión por materializar ideas a
        través del código y brindar soluciones tecnológicas efectivas. Mi
        especialidad es el desarrollo web full-stack, donde aplico mis
        conocimientos para construir productos digitales de principio a fin.
      </p>
    </div>

    <!-- Stack Técnico -->
    <div class="mb-10">
      <h3 class="text-2xl font-bold text-cyan-400 mb-6">Mi Stack Tecnico</h3>

      <div class="space-y-6">
        {
            stack.map( (item: TechnicalStack) => (
                <TechnicalStackComponent title={item.title} icon={item.svg} description={item.description} />
            ))
        }
        
      </div>
    </div>

    <!-- Filosofía -->
    <div
      class="bg-cyan-600 rounded-2xl p-6 mb-10 border-cyan-400"
    >
      <p class="text-white font-bold">
        Constantemente me encuentro explorando nuevas tendencias y mejores
        prácticas, para asegurar que mis soluciones no solo sean funcionales,
        sino también mantenibles, seguras y alineadas con los estándares de la
        industria.
      </p>
    </div>
  </div>
</div>
