---

---

<div class="max-w-5xl w-full mx-auto">
  <div class="mb-6">
    <a
      href="/projects"
      class="inline-flex items-center gap-2 px-6 py-3 font-semibold hover:scale-105 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </div>

  <div
    class="bg-white bg-opacity-10 backdrop-blur-lg rounded-3xl shadow-2xl overflow-hidden border border-white border-opacity-20 p-8 lg:p-12"
  >
    <h2 class="text-4xl lg:text-5xl font-bold text-black mb-8 text-center">
      Proyecto RestCountries
    </h2>

    <div class="text-lg leading-relaxed space-y-6 mb-10 text-justify">
      <p>
        Proyecto para buscar paises mediante la capital, el nombre del pais o recuperar todos los paises de una region. Brinda informacion basica del pais en una tabla y tambien una pagina de informacion detallada de ese mismo pais. La informacion de los paises se recupera de la API de RestCountries
      </p>
    </div>

    <div class="mb-10">
      <h3
        class="text-2xl font-bold text-cyan-400 mb-6 justify-center items-center flex"
      >
        Pagina Principal
      </h3>

      <div class="flex items-center justify-center h-full">
        <img src="/paginaRestCountries.png" alt="" />
      </div>
    </div>

    <div class="p-6 mb-10">
      <p class="text-lg text-justify">
        Para la realizacion de este proyecto se utilizo la API de RestCountries para recuperar la informacion de los paises, y se utilizo como framework principal Angular en su version 21.
      </p>
    </div>

    <div class="flex justify-center">
      <a
        href="https://github.com/Saedua/RestCountries"
        class="group relative px-10 py-4 bg-cyan-500 text-white font-semibold rounded-full shadow-lg shadow-cyan-500/50 hover:bg-cyan-400 hover:shadow-xl hover:shadow-cyan-400/60 hover:scale-105 transition-all duration-300 flex items-center gap-3"
      >
        <span class="relative z-10">Ver codigo </span>
        <span
          class="absolute inset-0 rounded-full bg-gradient-to-r from-cyan-400 to-blue-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        ></span>
      </a>
    </div>
  </div>
</div>
