---
interface Props {
    title: string;
    icon: string;
    description: string;
}

const { title, icon, description } = Astro.props as Props;
---


<div
  class="bg-white bg-opacity-5 rounded-2xl p-6 border border-cyan-500 border-opacity-30 hover:border-opacity-60 transition-all duration-300"
>
  <div class="flex items-start gap-4">
    <div class="text-3xl">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width={24}
        height={24}
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d={icon}
        ></path></svg
      >
    </div>
    <div>
      <h4 class="text-xl font-semibold text-cyan-400 mb-3">{title}</h4>
      <p class="text-gray-600 leading-relaxed">
        {description}
      </p>
    </div>
  </div>
</div>
