---
import SideBar from '../components/SideBar.astro';
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saul Torres - Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
</head>
<body class="">
    <div class="flex min-h-screen">
        <!-- Sidebar fijo -->
        <aside class="fixed left-0 top-0 h-screen">
            <SideBar />
        </aside>
        
        <!-- Contenido principal con margen para el sidebar -->
        <main class="ml-72 flex-1 p-8 justify-center">
            <slot />
        </main>
    </div>
</body>
</html>